<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{topic}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='htags.css') }}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" >
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>

</head>
<body>

  <div id="chart">
    <script type="text/javascript">
    var data;
    d3.json("/static/data.json", function(json){
        data = json;
        var h = (window.innerHeight)*data.length/(data.length+1)
        var svg = dimple.newSvg("body",700, h*0.95 );
        var chart = new dimple.chart(svg, data);
        chart.setBounds(200, 30, 400,  h*0.8);
        chart.addCategoryAxis("y", "Hashtag");
        chart.addMeasureAxis("x", "Frequency");
        //chart.setBounds(20, 20, 460, 360);
        //chart.addMeasureAxis("p", "Frequency");
        //chart.addSeries("Hashtag", dimple.plot.pie);
        chart.addSeries(null, dimple.plot.bar);
      chart.draw();
    });
  
  </script>
</div>
  <div id="analysis">
    Average Tweet Length is <strong>{{avg_words}}</strong> words <br>
    Lexical Diversity is <strong>{{diversity}}</strong> % (  <em>200 tweets processed.</em> )
  </div>
</body>



</html>
